Types of Objects in Python
  1. Immutable objects
  2. Mutable objects

  Immutable objects: which values can't be change.
    1. int
    2. float
    3. string
    4. bool
    5. tuple

  Mutable objects: which values can be change.
    1. List
    2. Set
    3. Dictionary

List

List should be include in the square brackets.

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
# Lists can have multiple data tyes
my_list = [2,3,1.8,'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

List are Mutable----> Changeable

In [ ]:
# add elements to a list
my_list = [2,3,1.8,'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [ ]:
# print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [ ]:
# list allow duplicate value
list_1 =[1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [ ]:
print(len(list_1))

8

In [ ]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [ ]:
list_2.append(5)
print(list_2)

[5, 5]

In [ ]:
#delete an item in a list
list_2 =[2, 3, 1.8, 'English', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [ ]:
#join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [ ]:
tuple_1 =(2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [ ]:
#  tuple allows multiple data types
tuple_2 = (1,2,3.5, 'Machine learning', False)
print(tuple_2)

(1, 2, 3.5, 'Machine learning', False)

In [ ]:
# Converting a list to a tuple

my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [19]:
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuples are immutable --> Unchageable

In [20]:
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
print(len(my_tuple))

4

Set

In [22]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [24]:
# set doesn't support indexing
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [25]:
# convert a list to a set
list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [26]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

Dictionary

key_ value Pair

In [27]:
my_dictionary = {'name': 'Sakib', 'age': 23, 'country': 'Bangladesh'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Sakib', 'age': 23, 'country': 'Bangladesh'}

dict

In [29]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Sakib
23
Bangladesh

In [30]:
# dictionary does not allow dupplicate values
dictionary_2 = {'name': 'Sakib', 'age': 23, 'country': 'Bangladesh','name': 'Sakib', 'age': 23, 'country': 'Bangladesh'}
print(dictionary_2)

{'name': 'Sakib', 'age': 23, 'country': 'Bangladesh'}