Operators in Python

  1. Arithmetic Operators
  2. Assignment Operators
  3. Comparison Operators
  4. Logical Operators
  5. Identity Operators
  6. Membership Operators

  1. Arithmetic Operators

In [ ]:
num_1 = 20
num_2 = 10

#Addition
sum = num_1 + num_2
print("Addition = ", sum)

#Subtraction
diff = num_1 - num_2
print("Difference = ", diff)

#Multiplication
pro = num_1 * num_2
print("Product = ", pro)

#Division
quo = num_1 / num_2
print("Quotient = ", quo)

#Exponent
exp = num_1 ** num_2
print("Exponent = ", exp)

#Modulus
mod = num_1 % num_2
print("Modulus = ", mod)

Addition =  30
Difference =  10
Product =  200
Quotient =  2.0
Exponent =  10240000000000
Modulus =  0

  2. Assignment Operators

        +=
        -=
        *=
        **=
        /=
        %=

In [ ]:
  a = 5
  a +=5 # a = a + 5
  print(a)

10

In [ ]:
b = 5
b -=2 # b = b -2
print(b)

3

In [ ]:
  a = 5
  a *= 5   # a = a * 5
  print(a)

25

In [ ]:
  a = 5
  a **=5   # a = a^5
  print(a)

3125

In [ ]:
  a = 5
  a /=5     # a = a/5
  print(a)

1.0

In [ ]:
  a = 5
  a %=5    # a = a%5
  print(a)

0

  3. Comparison Operator

In [ ]:
a = 5
b = 10
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print (a <= b)
print(a >= b)

False
True
False
True
True
False

4. Logical Operators

    and

    or

    not

In [ ]:
a = 10

print (a>20 and a>5)
print (a>20 or a>5)
print (not a>8 and a>5)

False
True
False

  5. identity Operator:
   
   is
   
   is not

In [11]:
x = 5
y = 5
print(x is y)

True

In [12]:
x = 5
y = 10
print(x is y)

False

In [14]:
x = 5
y = 5
print(x is not y)

False

In [15]:
x = 5
y = 10
print(x is not y)

True

 6. Membership Operator
      
      in

      not in

In [16]:
a = 5
b = 10
c = [1,2,3,4,5]
print(a in c)
print(b in c)

True
False